@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

$base: #4c96d7;
$accent: #8d8d8d;
$gray: #bababa;
$fblue: #a6cbeb;
$black: #3a3a3a;
$white: #ffffff;

$baseFont: Oswald;
$accentFont: Londrina Shadow;
$coolFont: Love Ya Like A Sister;