@import "setup";
html{
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }


body {
    padding: 0;
    margin: 0;
    header h2 {
        font-family: $accentFont;
        display: inline-block;
        position: absolute;
        right: 1rem;
        a {
            text-decoration: none;
            color: $black;
        }
    }
    header img {
        border-radius: 20px;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: right;
        padding: 0;
        background-color: $black;
        li {
            font-family: $baseFont;
            padding: .3rem .4rem;
            font-size: 1.3rem;
            a {
                color: $white;
                text-decoration: none;
            }
        }
        li:hover {
            background-color: $base;
        }
    }
    main {
        padding: .5rem;
        h1 {
            font-family: $accentFont;
        }
        #inv-display {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        #inv-display li {
            margin-bottom: .5em;
            border: 1px #ccc solid;
            list-style-type: none;
            flex: 1 1 auto;
            text-align: center;
            border-radius: 15px;
            margin: .5rem;
        }
        #inv-display li img {
            max-width: 100%;
            border-radius: 15px;
        }
        #inv-display li hr {
            border-top: 3px solid $black;
            width: 100%;
        }
        section h2, p, li, h3 {
            font-family: $coolFont;
        }
        #dmc {
            img {
                width: 100%;
                position: relative;
                z-index: -1;
            }
            .list {
                position: absolute;
            }
            h2 {
                font-size: 1.3rem;
            }
            h2, p {
                margin: 0;
                color: $base;
                font-weight: 600;
            }
            .button {
                margin-top: 1.5rem;
                text-align: center;
            }
            button {
                font-family: $baseFont;
                padding: .3rem 1.5rem;
                font-size: 1.3rem;
                margin: 0;
                background-color: $base;
                color: $gray;
            }
            #btn1 {
                display: none;
            }
        }
        #upgrades {
            padding-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            h2 {
                grid-column: 1 / 3;
                margin: .5rem;
            }
            div {
                text-align: center;
                margin: .25rem;
                background-color: $base;
                height: 5.5rem;
                border: 1px $black solid;
                img {
                    width: 4rem;
                    padding-top: .5rem;
                }
            }
            .flux h3 {
                margin-top: 10px;
            }
            .flame h3 {
                margin-top: -5px;
            }
            .hub h3 {
                margin-top: 10px;
            }
            .bumper, .hub {
                margin-top: 2rem;
            }
        }
    }
    #veh-detail section {
        aside {
            display: none;
        }
    }
    #login, #registration, #classification, #vehicle, #client-update, #uploads {
        form {
            @include form-base;
        }
        p {
            font-size: 1.5rem;
        }
    }
    #classification, #vehicle, #registration, #login, #client-update {
        form {
            input:focus:valid {
                /* insert your own styles for valid form input */
                background-color: rgb(0, 153, 51);
                color: $white;
            }
            input:focus:invalid {
                /* insert your own styles for invalid form input */
                background-color: rgb(252, 182, 231);
            }
        }
    }
    #veh-detail img {
                max-width: 575px;
                width: 100%;
    }

    #veh-detail {
        h1 {
            font-size: 2.2rem;
        }
        .price {
            font-size: 1.5rem;
            margin: .5rem 0;
            font-weight: 600;
        }
        h2 {
            margin: .8rem 0;
            font-size: 1.7rem;
        }
        .description {
            background-color: rgb(238, 244, 248);
            padding: .8rem;
            margin: 0;
        }
        .stock {
            background-color: rgb(238, 244, 248);
            padding: .8rem;
            margin: 0;
        }
        .color {
            padding: .8rem;
            margin: 0;
        }
        .stock {
            padding: .8rem;
            margin: 0 0 0.5rem 0;

        }
    }

    #classification {
        a {
            text-decoration: none;
            color: $black;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    footer {
        padding-top: .5rem;
        border-top: 3px $black solid;
        p {
            font-family: $baseFont;
            text-align: center;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 36rem) {
    html {
        box-sizing: border-box;
       
       *, *:before, *:after{
        box-sizing: inherit;
       }
        background-image: url(/phpmotors/images/site/small_check.jpg);
        body {
            background-color: $white;
            margin: 2rem;
            border: 4px $base solid;
            border-radius: 15px;
            header h2 {
                right: 3rem;
            }
            nav ul {
                justify-content: flex-start;
                li {
                    padding: .5rem 1.2rem;
                }
            }

            #inv-display {
                flex-flow: row wrap;
                justify-content: flex-start;
            }

            #inv-display h2 {
                font-size: 1rem;
            }

            #inv-display li {
                max-width: 200px;
                flex: 1 0 auto;
                text-align: center;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            #inv-display div {
                width: 100%;
            }

            #home #dmc {
                .list {
                    z-index: 1;
                }
                img {
                    z-index: 0;
                }
            }
            #home #reviews li {
                font-size: 1rem;
            }
            #veh-detail {
                .price {
                    margin: .5rem 0;
                }  
                h2 {
                    margin: .8rem 0;
                }
                .description {
                    font-size: 1.2rem;
                }
                .stock {
                    font-size: 1.2rem;
                }
                .color {
                    font-size: 1.2rem;
                }
            }
            #veh-detail section {
                aside {
                    display: block;
                }
            }
        }
    }
}

 @media only screen and (min-width: 54rem) {
    #home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        #dmc {
            grid-column: 1 / 3;
            padding-left: 1.5rem;
            .button {
                display: none;
            }
            .list #btn1 {
                display: block;
                margin-top: 1rem;
            }
        }
        #upgrades {
            margin: 1.5rem;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            h2 {
                padding: 1rem 0;
            }
        }
        #reviews {
            margin: 1.5rem;
            grid-column: 2 / 3;
            h2 {
                margin: 1.5rem;
            }
            li {
                line-height: 2.2rem;
            }
        }
    }
    #veh-detail section {
        display: grid;
        grid-template-columns: 1fr auto 2fr;
        img {
            padding: .5rem;
        }
        #principal {
            grid-column: 2 / 3;
            width: 100%;
        }
        aside {
            grid-column: 1 / 2;
        }
        article {
            grid-column: 3 / 4;
            min-width: 20rem;
        }
        .thumbnail {
            width: 9rem;
            margin: 0 0 .5rem 0;
            padding: 0;
        }
        .thumbnail:hover {
            color: $accent;
            animation: beat 60s;
        }
        .color {
            padding: .5rem 1rem;
            vertical-align: middle;
        }
        .price {
            padding: .5rem;
        }
        .description {
            padding: .5rem 2.5rem .5rem 1rem;
            line-height: 1.6;
        }
        .stock {
            padding: .5rem 0 0rem 1rem;
        }
    }
 }